{% extends 'compliance/layout.html' %}

{% block styles %}
<link href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

<style>
    div.dataTables_wrapper {
        margin-bottom: 3em;
    }
    /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>


{% endblock %} 

{% block content %}
    {% load datetime_tags %}
    {% load form_tags %}
    {% load model_tags %}

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>PPDC <small>Dashboard</small></h3>
              </div>

              <!--
              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-secondary" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>    
              -->

            </div>

            <div class="clearfix"></div>
            
              {% get_contractors as p_managers %}
              {% get_form_date as date %}
              <div class="row">
                      <div class="animated flipInY col-lg-3 col-md-3 col-sm-6  ">
                        <div class="tile-stats">
                          <div class="icon"><i class="fa fa-users"></i>
                          </div>
                          <div class="count">{{ p_managers.count }}</div>

                          <h3>Total Registered Contractors</h3>
                          <p><!-- text goes here --></p>
                        </div>
                      </div>
                      <div class="animated flipInY col-lg-3 col-md-3 col-sm-6  ">
                        <div class="tile-stats">
                          <div class="icon"><i class="fa fa-calendar-o"></i>
                          </div>
                            {% get_this_month_submissions as this_month_submissions %}
                          <div class="count">{{ this_month_submissions.count }}</div>

                          <h3>{{ date.month }}/{{ date.year }} Report submissions</h3>
                          <p>this month's submissions</p>
                        </div>
                      </div>
                      <div class="animated flipInY col-lg-3 col-md-3 col-sm-6  ">
                        <div class="tile-stats">
                          <div class="icon"><i class="fa fa-thumbs-up"></i>
                          </div>
                            {% get_all_acknowledged_reports as acknowledged_reports %}
                          <div class="count">{% if acknowledged_reports %}{{ acknowledged_reports.count }}{% else %}0{% endif %}</div>

                          <h3>Approved Submissions</h3>
                          <p><!-- text goes here --></p>
                        </div>
                      </div>
                      <div class="animated flipInY col-lg-3 col-md-3 col-sm-6  ">
                        <div class="tile-stats">
                          <div class="icon"><i class="fa fa-thumbs-down"></i>
                          </div>
                          {% get_all_rejected_reports as rejected_reports %}
                          <div class="count">{% if rejected_reports %}{{ rejected_reports.count }}{% else %}0{% endif %}</div>
                          <h3>Rejected Submissions</h3>
                          <p><!-- text goes here --></p>
                        </div>
                      </div>
                    </div>

              <!--toggle buttons start-->
              <a href="{% url 'staff_dashboard_section_toggle' "staff" "staff" %}" class="btn {% if section == 'staff' %} btn-primary{% else %} btn-secondary {% endif %} btn-lg">Manage PPDC Staff Reports</a>
                <a href="{% url 'staff_dashboard_section_toggle' "contractor" "contractors" %}" class="btn {% if section == 'contractor' %} btn-primary{% else %} btn-secondary {% endif %} btn-lg">Manage Contractors Reports</a>
              <!-- toggle buttons end -->


              <!-- non Compliance reports start -->
              {% if section == 'staff' %}
                {% include 'compliance/includes/staff_section.html' %}
              {% endif %}
              <!-- non Compliance reports end -->




              <!-- Compliance reports start -->
              {% if section == 'contractor' %}
              {% include 'compliance/includes/contractor_section.html' %}

              {% endif %}
              <!-- Compliance reports end -->
          </div>
        </div>
        <!-- /page content -->

{% endblock %}


{% block javascript %}




{% endblock %}